doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h1= title
		hr
		p Welcome to #{name}
		hr
		p 팀원 소개
		div
			table(border=1)
				tr
					td 한지승
					td 대장
				tr
					td
						a(href='/kb/sg') 강성길
					td 몽둥이
				tr
					td 정국빈
					td 쫄병